<?xml version="1.0"?>
<config>
	<modules>
		<Vsourz_Imagegallery>
			<version>0.1.1</version>
		</Vsourz_Imagegallery>
	</modules>
	<frontend>
		<routers>
			<imagegallery>
				<use>standard</use>
				<args>
					<module>Vsourz_Imagegallery</module>
					<frontName>imagegallery</frontName>
				</args>
			</imagegallery>
		</routers>
		<layout>
			<updates>
				<imagegallery>
					<file>imagegallery.xml</file>
				</imagegallery>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<imagegallery>
				<use>admin</use>
				<args>
					<module>Vsourz_Imagegallery</module>
					<frontName>imagegallery</frontName>
				</args>
			</imagegallery>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<imagegallery>
					<file>imagegallery.xml</file>
				</imagegallery>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<helpers>
			<imagegallery>
				<class>Vsourz_Imagegallery_Helper</class>
			</imagegallery>
		</helpers>
		<blocks>
			<imagegallery>
				<class>Vsourz_Imagegallery_Block</class>
			</imagegallery>
		</blocks>
		<models>
			<imagegallery>
				<class>Vsourz_Imagegallery_Model</class>
				<resourceModel>imagegallery_resource</resourceModel>
			</imagegallery>
			<imagegallery_resource>
				<class>Vsourz_Imagegallery_Model_Resource</class>
				<entities>
					<imagedetail>
						<table>imagedetail</table>
					</imagedetail>
					<imagecategory>
						<table>imagecategory</table>
					</imagecategory>
				</entities>
			</imagegallery_resource>
		</models>
		<resources>
			<imagegallery_setup>
				<setup>
					<module>Vsourz_Imagegallery</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</imagegallery_setup>
			<imagegallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imagegallery_write>
            <imagegallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imagegallery_read>
		</resources>
	</global>
	<default>
		<imagegallery>
			<settings>
				<loadjs>0</loadjs>
				<imageloaded>0</imageloaded>
			</settings>
		</imagegallery>
	</default>
</config>